# Node modules
node_modules/

# Diretório de saída do TypeScript
dist/

# Arquivos de log
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Configurações de ambiente
.env
.env.*

# Arquivos do sistema
.DS_Store
Thumbs.db

# Cache do TypeScript
*.tsbuildinfo

# Cache do editor (VSCode, WebStorm etc)
.vscode/
.idea/

# Arquivos temporários
tmp/
temp/

# Outros
coverage/
